
 <%= form_for(@school_class) do |f| %>
  <label>school_class_title:</label><br>
  <%= f.text_field :title %><br>
   <label>room_number</label><br>
  <%= f.text_field :room_number %><br>
  <%= f.submit %>
<% end %>
